.customize_header {
  background: #28304c;
  width: 100%;
  height: 50px;
}

.for_text {
  font-family: "Mohave";
  font-size: 12px;
  font-weight: 500;
  line-height: 16.72px;
  letter-spacing: 0.1em;
  text-align: center;
}
