.scroll-icons {
  margin-bottom: 10px;
}

img {
  border-radius: 5px;
}
.d-flex.flex-nowrap.overflow-auto {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.d-flex.flex-nowrap.overflow-auto::-webkit-scrollbar {
  display: none;
}
.customize_icons .btn-outline-secondary{
  --bs-btn-active-color: #fff;
  --bs-btn-hover-bg: #28304c;
  --bs-btn-hover-border-color: #28304c;
  --bs-btn-active-border-color: #28304c;
  --bs-btn-disabled-border-color: #28304c;
  --bs-btn-color: #28304c;
  --bs-btn-border-color: #28304c;
  --bs-btn-hover-color: #fff;
}
