.custom1_caption {
  top: 0px;
}
.customize_carousel{
  width: 100%;
}

.custom2_caption {
  top: 35px;
}

.custom_button {
  color: #fff;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.custom2_caption h1 {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  text-transform: capitalize;
  font-size: 46px;
  letter-spacing: 5.2px;
}

.customize_carousel .carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.custom_comp1_img img {
  width: 100%;
}

/* Navbar styling */
.customize_navbar {
  background-color: transparent;
}

.customize_navbar .navbar-brand {
  color: var(--SECONDARY-2, #f8cd8c);
  font-family: "Mohave", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.customize_navbar .nav-link {
  color: white !important;
  font-family: "Mohave", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.customize_navbar .nav-link.active {
  color: #f8cd8c !important;
}

.customize_navbar .nav-link:hover {
  color: #f8cd8c !important;
}

.customize_navbar .navbar-toggler {
  background-color: #f8cd8c;
}

.custom_comp1_img {
  width: 100%;
}

.spaced-brand {
  margin-right: 40px;
}

.nav-link {
  margin-left: 10px;
}

/* Media Queries */

/* For large screens between 1440px and 2560px */
@media (min-width: 1440px) and (max-width: 2560px) {
  .custom2_caption {
    top: 385px;
  }

  .custom2_caption h1 {
    color: #fff;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 3.2px;
    text-transform: capitalize;
    font-size: 52px;
  }
  .customize_navbar .nav-link {
    font-size: 18px;
  }
}

/* For screens between 992px and 1024px */
@media (min-width: 992px) and (max-width: 1024px) {
  .custom2_caption {
    top: 200px;
  }

  .custom2_caption h1 {
    color: #fff;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    text-transform: capitalize;
    font-size: 46px;
    letter-spacing: 5.2px;
  }
}

/* For small screens between 320px and 992px */
@media (max-width: 992px) and (min-width: 320px) {
  .custom2_caption {
    display: none;
  }
  .customize_navbar .navbar-nav {
    background-color: #28304c;
  }
}

/* For screens between 1024px and 1440px */
@media (min-width: 1024px) and (max-width: 1440px) {
  .custom2_caption {
    top: 210px;
  }

  .custom2_caption h1 {
    color: #fff;
    text-align: center;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    font-size: 46px;
    letter-spacing: 2.2px;
    line-height: 1.2;
  }
}

/* Hide custom1_caption on screens smaller than 530px */
@media (max-width: 530px) {
  .custom1_caption {
    display: none;
  }
}

/* For screens larger than 2560px */
@media (min-width: 2561px) {
  .custom2_caption {
    top: 385px;
  }

  .custom2_caption h1 {
    color: #fff;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 5.2px;
    text-transform: capitalize;
    font-size: 52px;
  }
}
